#portfolio
    padding: 50px 0
    h1
        font-size: 40px
        font-weight: 700
    h4
        font-style: italic
        margin: 20px 0 60px
        font-size: 20px
        color: #797878
    .box
        position: relative
        .textbox
            h2
                font-size: 25px
                font-weight: 700
                margin: 25px 0 10px
            h5
                font-size: 18px
                font-style: italic
                color: #908f8f
                padding: 0 0 50px
                
