#services
    padding: 50px 0 100px
    .textbox
        width: 380px
        h1
            font-size: 45px
            font-weight: 700
        h4
            padding: 20px 0 50px
            font-size: 20px
            color: #a1a1a1
            font-style: italic
        h2
            font-size: 30px
            font-weight: 700
            padding: 15px 0 22px
        p
            font-size: 18px
            line-height: 1.4
            color: #888888
    .icon
        font-size: 40px
        background-color: #ffc800
        width: 100px
        height: 100px
        color: #ffff
