body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox img {
  width: 100%;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #212529;
  z-index: 1;
}
header .imgbox {
  width: 200px;
}
header nav a {
  font-size: 18px;
  margin-right: 30px;
}
header nav a:hover {
  color: #fcd31e;
  cursor: pointer;
}

#welcome .textbox {
  height: 700px;
  color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#welcome .textbox h1 {
  font-size: 55px;
  font-style: italic;
}
#welcome .textbox h2 {
  font-size: 80px;
  font-weight: 700;
  margin: 30px 0 50px;
}
#welcome .textbox .btn {
  background-color: #ffc800;
  padding: 25px 40px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
#welcome .textbox .btn:hover {
  background-color: #dfaf00;
}

#services {
  padding: 50px 0 100px;
}
#services .textbox {
  width: 380px;
}
#services .textbox h1 {
  font-size: 45px;
  font-weight: 700;
}
#services .textbox h4 {
  padding: 20px 0 50px;
  font-size: 20px;
  color: #888888;
  font-style: italic;
}
#services .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0 22px;
}
#services .textbox p {
  font-size: 18px;
  line-height: 1.4;
  color: #888888;
}
#services li {
  display: flex;
  justify-content: center;
  padding: 0 30px 0 0;
}
#services li .icon {
  border-radius: 50%;
  font-size: 60px;
  background-color: #ffc800;
  width: 120px;
  height: 120px;
  color: white;
}

#portfolio {
  padding: 50px 0;
}
#portfolio h1 {
  font-size: 40px;
  font-weight: 700;
}
#portfolio h4 {
  font-style: italic;
  margin: 20px 0 60px;
  font-size: 20px;
  color: #797878;
}
#portfolio .box .textbox h2 {
  font-size: 25px;
  font-weight: 700;
  margin: 25px 0 10px;
}
#portfolio .box .textbox h5 {
  font-size: 18px;
  font-style: italic;
  color: #908f8f;
  padding: 0 0 50px;
}
#portfolio .box .imgbox .icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 50px;
  color: white;
}

#about {
  padding: 50px 0;
}
#about h1 {
  font-size: 45px;
  font-weight: 700;
}
#about h4 {
  font-size: 18px;
  font-style: italic;
  color: #797979;
  margin: 20px 0 60px;
}
#about .box {
  display: flex;
  align-items: center;
  margin: 0 0 100px 110px;
}
#about .box .textbox {
  width: 420px;
  margin: 0 20px;
}
#about .box .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
}
#about .box .textbox p {
  font-size: 20px;
  color: #7f7f7f;
  line-height: 1.4;
  margin-top: 10px;
}
#about .box .imgbox {
  border: 8px solid #dddddd;
  border-radius: 50%;
  width: 170px;
}
#about .box .imgbox img {
  border-radius: 50%;
}
#about .rigth {
  margin-right: 80px;
}
#about .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbe200;
  border: 8px solid #dddddd;
  border-radius: 50%;
  color: white;
  width: 170px;
  height: 170px;
  font-weight: 700;
  font-size: 20px;
}
#about .btn h5 {
  width: 70px;
}

#team {
  padding: 50px 0;
}
#team h1 {
  font-size: 45px;
  font-weight: 700;
}
#team h4 {
  color: #828282;
  font-size: 18px;
  font-style: italic;
  margin: 25px 0 40px;
}
#team .imgbox {
  width: 240px;
  margin: 25px;
}
#team .imgbox img {
  border: 8px solid #d8d8d8;
  border-radius: 50%;
}
#team .textbox h2 {
  font-size: 30px;
  font-weight: 700;
}
#team .textbox h5 {
  font-size: 18px;
  color: #828282;
  margin: 10px 0 20px;
}
#team ul {
  display: flex;
  justify-content: center;
}
#team ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #1a1b20;
  color: white;
  border-radius: 50%;
  margin: 0 12px;
}
#team ul li:hover {
  cursor: pointer;
}
#team .wid h5 {
  color: #737373;
  font-size: 18px;
  width: 740px;
  margin: 50px;
  line-height: 1.4;
}

#loqos {
  padding: 50px 0;
}
#loqos .imgbox1 {
  width: 200px;
}
#loqos .imgbox2 {
  width: 130px;
}
#loqos .imgbox3 {
  width: 150px;
}
#loqos .imgbox4 {
  width: 100px;
}
#loqos .imgbox1, #loqos .imgbox2, #loqos .imgbox3, #loqos .imgbox4 {
  margin-left: 80px;
}

#contact {
  padding: 80px 0;
  background-color: #212529;
}
#contact h1 {
  color: #ffffff;
  font-size: 50px;
}
#contact h4 {
  color: #b9b6b6;
  padding: 20px 0 50px;
  font-size: 18px;
  font-style: italic;
}
#contact .place {
  display: flex;
  flex-direction: column;
}
#contact .place input {
  padding: 20px 20px;
  margin: 0 0 27px;
  font-size: 20px;
}
#contact .textbox textarea {
  border-radius: 5px;
  padding: 15px 0 0 15px;
  color: #979797;
  font-size: 20px;
}
#contact .btn {
  background-color: #ffc021;
  color: white;
  font-size: 20px;
  padding: 20px 30px;
  opacity: 0.7;
}

footer {
  padding: 25px 0;
}
footer .menu a {
  color: #000000;
}
footer .menu ul {
  display: flex;
  justify-content: center;
}
footer .menu li {
  background-color: #000000;
  color: white;
  padding: 11px 14px;
  border-radius: 50%;
  margin: 0 10px;
}/*# sourceMappingURL=style.css.map */